body {
  background-color: white;
  font-size: 16px;
}

code {
  font-family: 'Courier New', monospace;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
}

nav h1 {
  font-size: 28px;
  color: rgb(172, 94, 11);
  cursor: pointer;
}

nav a {
  text-decoration: none;
  padding: 0 20px;
  font-size: 18px;
  color: black;
}

nav a:hover {
  text-decoration: underline;
  color: orange;
}

.whole {
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  width: 482px;
  height: 500px;
}

.OutputValue {
  text-align: right;
  color: orange;
  background-color: rgb(60, 57, 57);
  padding: 30px;
}

.calculatorContainer {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(5, 70px);
  gap: 0.5px;
}

.individualButton {
  background-color: rgb(185, 183, 183);
  color: black;
  border: 0;
  font-size: 1.5rem;
}

.fullWidth {
  grid-column: 1 / span 2;
}

.coloredButtons {
  background-color: rgb(172, 94, 11);
  color: white;
}

.topHeader {
  font-size: 48px;
  color: rgb(172, 94, 11);
  transition: ease-in-out 2s;
  animation: scroll 10s linear infinite;
}

h1:hover {
  animation: none;
  transform: translateX(0);
}

@keyframes scroll {
  0% {
    transform: translateX(-50vw);
  }

  100% {
    transform: translateX(50vw);
  }
}

.dataDiv {
  height: 50px;
  text-align: center;
  margin-top: 50px;
  padding: 0 20%;
}

.dataDetails {
  color: black;
  font-size: 22px;
}

span {
  font-style: normal;
  font-size: 32px;
}

.navMenu {
  display: flex;
}

/* This is the homepage styling */
.homepage {
  padding: 5% 20%;
  text-align: center;
}

.homepage h1 {
  font-size: 48px;
  color: rgb(172, 94, 11);
}

.homepage p {
  padding: 0 20%;
  line-height: 2rem;
  font-size: 18px;
}
